.service {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  z-index: 100;

  >div {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    background-color: $secondary-bg;
    width: calc(100vw - 50px);
    height: calc(100vh - 100px);
    margin-left: 20px;
    margin-right: 20px;
    bottom: 0;
    position: absolute;
    border: 6px solid rgba($gray-bg, 0.1);
    border-bottom: 0;
    display: flex;
    flex-direction: column;
  }
}

.title {
  padding: 40px 42px;
  border-bottom: 2px solid rgba($gray-bg, 0.1);
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  height: 22px;

  &>.icon {
    font-weight: bold;
    margin-right: 10px;
  }

  .right {
    float: right;
    display: block;
    transform: rotate(45deg);
    cursor: pointer;
    font-size: 18px;
    position: relative;
    right: -12px;
    top: 3px;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2PX solid rgba($secondary-text-rgb, 0.1);
  border-radius: 10px;
  margin: 0px 38px 0px 38px;
  padding-right: 15px;
  height: 62px;
  
  .tabs {
    height: 62px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    .tab-item {
      padding: 0 15px;
      height: 62px;
      line-height: 62px;
      font-size: 16px;
      border-right: 1PX solid rgba($color: $secondary-text-rgb, $alpha: 0.1);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      .tab-title {
        line-height: 18px;
      }
      .delete-container{
        margin-left: 5px;
        display: inline-block;
        padding: 5px;
        margin-right: -6px;
      }
    }

    &> li:first-child {
      border-left: 60px;
    }

    .active {
      position: relative;
      color: $primary-text;
      font-size: 16px;

      &:before {
        content: '';
        position: absolute;
        left: 20%;
        bottom: -2px;
        width: 60%;
        height: 3px;
        background: $primary-text;
      }
    }

    .template{
      padding: 0;
      width: 230px;
      .icon{
        font-size: 25px;
      }
      .select{
        font-size: 14px;
      }
      :deep(.el-input__wrapper){
        border: none;
      }
    }

    .split.icon{
      font-size: 25px;
    }
  }
}

.form {
  flex: 1;
  height: calc(100% - 180px);

  .form-box {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%
  }

  .form-anchor {
    position: absolute;
    width: 200px;
    top: 230px;
    right: 30px;
    background: transparent;

    .form-anchor-item {
      font-size: 20px;
    }

    :deep(.el-anchor__link) {
      font-size: 15px;
    }
  }

  .dry-run{
    position: absolute;
    width: 200px;
    top: 230px;
    right: 40px;
    background: rgba($color: $primary-bg-rgb, $alpha: 1);
    padding: 15px;
    border-radius: 6px;
    .dry-run-title{
      font-size: 17px;
      color: $primary-text;
    }

    .dry-run-item{
      font-size: 14px;
      margin-top: 20px;
    }

    .dry-run-tag{
      padding: 8px 10px;
      background-color: rgba($color: $secondary-text-rgb, $alpha: 0.05);
      border-radius: 4px;
      margin: 10px 0 10px 0px;
      .t{
        width: 47%;
        margin-right: 5%;
        display: inline-block;
        text-align: center;
        border-right: 3px solid rgba($color: $secondary-text-rgb, $alpha: 0.1);
      }
    }
  }

  .box-step {
    padding: 30px 300px 0px 40px;
    position: relative;
    &>div:last-child{
      margin-bottom: -15px;
    }

    .form-context-box {
      padding: 5px 0 15px 60px;
      max-width: 900px;
    }

    .form-table-box {
      padding: 0px 0 5px 60px;
      max-width: 900px;
      margin-bottom: 15px;

      .flex {
        margin-bottom: 10px;
      }

      >div:last-child {
        margin-bottom: 0;
      }
    }

    &::before {
      content: '';
      height: calc(100% - 44px);
      width: 2PX;
      background-color: rgba($color: $secondary-text-rgb, $alpha: 0.1);
      position: absolute;
      left: 60px;
      top: 74px;
    }
  }

  .last-step {
    &::before {
      content: none;
    }
  }

  .classTitle {
    margin-bottom: 20px;
    padding: 0 10px 0 0px;
    font-size: 18px;
    position: relative;

    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border: 2PX solid rgba($color: $secondary-text-rgb, $alpha: 0.1);
      border-radius: 10px;
      margin-right: 10px;
      background-color: $secondary-bg;
    }
  }
}

.sgx-warning{
  color: rgb(231, 68, 59);
}

.split_window .form-context-box {
  margin: 12px 0;
}


.form-sub-title {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: bold;
}

.simple-form {
  padding: 20px 35px;

  .form-input-box {
    padding-bottom: 25px;
  }
}

.form-input-box {
  :deep(.el-autocomplete){
    width: 100%;
  }
}

.input-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;

  .icon {
    width: 30px;
    margin-right: 10px;
    border-radius: 5px;
  }

  .app-box {
    flex: 1;
    line-height: 1.2;

    .app-title {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}

.form-input-box {
  :deep(.el-slider__runway) {
    background-color: rgba($color: $secondary-text-rgb, $alpha: 0.2);
    border-radius: 0;
  }

  :deep(.el-slider__bar) {
    border-radius: 0;
  }

  :deep(.el-slider__button) {
    background-color: $secondary-bg;
  }

  :deep(.el-slider__stop) {
    opacity: 0.4
  }

  :deep(.el-input-number__decrease),
  :deep(.el-input-number__increase) {
    background: transparent;
  }

  .icon {
    // color: rgba($color: $primary-text-rgb, $alpha: 0.4);
  }
}

.arg-input{
  margin-top: 10px;
  margin-left: 40px;
  width: calc(100% - 40px);
  position: relative;
  &>::after{
    content: ' ';
    width: 20px;
    height: 2px;
    background-color: rgba($color: $secondary-text-rgb, $alpha: 0.2);
    left: -20px;
    top: 22px;
    position: absolute;
  }
  &>::before{
    content: ' ';
    width: 2px;
    height: 54px;
    background-color: rgba($color: $secondary-text-rgb, $alpha: 0.2);
    left: -20px;
    top: -32px;
    position: absolute;
  }
}

.first-arg{
  &>::before{
    content: ' ';
    width: 2px;
    height: 33px;
    background-color: rgba($color: $secondary-text-rgb, $alpha: 0.2);
    left: -20px;
    top: -10px;
    position: absolute;
  }
}

@media screen and (max-width: 990px) {
  .box-step {
    padding-right: 40px !important;
  }

  .form-anchor {
    display: none;
  }
}